name: CI

on:
  push:
    branches: [main]
    tags: ["v*"]
  pull_request:
    branches: [main]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5.0.0
        with:
          fetch-depth: 0
          lfs: true

      - run: make lint-ci
      - run: make format-ci

  build:
    runs-on: macos-14
    permissions:
      # https://docs.npmjs.com/generating-provenance-statements#publishing-packages-with-provenance-via-github-actions
      id-token: write
    steps:
      - uses: actions/checkout@v5.0.0
        with:
          fetch-depth: 0
          lfs: true

      - uses: actions/setup-node@v5.0.0
        with:
          node-version: 20.x
          registry-url: https://registry.npmjs.org

      - uses: actions/cache@v4.2.4
        with:
          path: |
            .swiftpm-packages
          key: v0-${{ runner.os }}-swiftpm-${{ hashFiles('**/Package.resolved') }}
          restore-keys: v0-${{ runner.os }}-swiftpm-

      - run: npm publish --provenance --access public --dry-run

      - run: npm publish --provenance --access public
        if: ${{ startsWith(github.ref, 'refs/tags/v') }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_PUBLISH_TOKEN }}
